<!--

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Sort order:</b>
  <%= @album.sort_order %>
</p>

<p>
  <b>Created date:</b>
  <%= @album.created_date %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
-->
<ul id="imageSlider">
<% @album.photos.each do |photo| %>
  <li>
   <!--<%= image_tag(photo.url, :size => "810x565", :alt => photo.alternate_description) %> -->
   photo.sort_order
   </li>
<% end %>
</ul>