<article class="contact">
	<div class="information">
		<p>Want to get in touch about pricing or availability?
		I would love to hear from you!</p>
		<div class="email">
			<%= image_tag("email-icon-write.png", :size => "40x35", :alt => "Email Icon Write", :class => "icons") %>
			<a href="mailto:kate@katehacker.co.uk">kate@katehacker.co.uk</a>
			<div class="clear"></div>
		</div>
		<p>Want to follow my other projects and ventures?</p>
		<div class="twitter">
			<%= image_tag("twitter-icon-camera.png", :size => "40x35", :alt => "Email Icon Write", :class => "icons") %>
			<a href="http://www.twitter.com/KateHacker" title="Kate Hacker Twitter" target="_blank">twitter.com/KateHacker</a>
			<div class="clear"></div>
		</div>
		<div class="facebook">
			<%= image_tag("facebook-icon-camera.png", :size => "40x35", :alt => "Email Icon Write", :class => "icons") %>
			<a href="http://www.facebook.com/pages/Kate-Hacker-Photography/272471786132597" title="Kate Hacker Photography Facebook" target="_blank">facebook.com/KateHackerPhotography</a>
			<div class="clear"></div>
		</div>
		<p>I'm also going down to Fishponds Rd. each day and taking photos of what I see. Check it out!</p>
		<div class="tumblr">
			<%= image_tag("tumblr-icon-camera.png", :size => "40x35", :alt => "Email Icon Write", :class => "icons") %>
			<a href="http://fishpondsrd.tumblr.com/" title="Fishponds Rd Tumblr" target="_blank">fishpondsrd.tumblr.com</a>
			<div class="clear"></div>
		</div>
	</div>
	<%= image_tag("stamps.png", :size => "255x565", :alt => "Mail stamps", :class => "stamps") %>
</article>