<header>
	<nav class="leftNavigation">
		<ul class="mainNavigation">		
			<li<%=" class='highlighted'" if params[:controller] == "home" %>><%= link_to_unless_current "home", root_path %></li>
			<li<%=" class='highlighted'" if params[:controller] == "about" %>><%= link_to "about", about_path %></li>
			<li<%=" class='highlighted'" if params[:controller] == "albums" %>><%= link_to "edit albums", albums_path %></li>
			<li<%=" class='highlighted'" if params[:controller] == "photos" %>><%= link_to "edit photos", photos_path %></li>
			<li class="albumLink<%=" highlighted" if params[:controller] == "albums" %>"><a href="#" title="albums">albums</a></li>
				<ul class="albumNavigation<%=" highlighted" if params[:controller] == "albums" %>" style="display:none">
					<% Album.all.each do |album| %>
					<li<%=" class='highlighted'" if params[:id] == album.id.to_s %>><%= link_to album.name, album %></li>
					<% end %>
				</ul>
			<li<%=" class='highlighted'" if params[:controller] == "contact" %>><%= link_to "contact", contact_path %></li>
		</ul>
	</nav>
	<h1 class="signature">Kate Hacker</h1>
</header>