<!DOCTYPE html>
<html>
<head>
  <title>Kate Hacker</title>
  <%= stylesheet_link_tag    "Application-Screen" %>
	<!--[if IE]>
	  <%= stylesheet_link_tag    "Application-IE" %>
	<![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://bxslider.com/sites/default/files/jquery.bxSlider.min.js" type="text/javascript"></script>
  <script type="text/javascript">
	$(document).ready(function(){
	  $('#imageSlider').bxSlider({
	  	prevText: "<",
		nextText: ">",
		hideControlOnEnd: true,
		infiniteLoop: false
	  });
	});
  </script>
</head>
<body>

<div class="siteWrapper">
	<%= render 'layouts/header' %>
	<section>
		<%= yield %>
	</section>
	<div class="clear">
	</div>
</div>

</body>
</html>
