<!DOCTYPE html>
<html>
<head>
  <title>Kate Hacker</title>
  <%= stylesheet_link_tag    "Application-Screen" %>
	<!--[if IE]>
	  <%= stylesheet_link_tag    "Application-IE" %>
	<![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="siteWrapper">
<%= render 'layouts/header' %>
<%= yield %>

</div>

</body>
</html>
